[Desktop Entry]
Type=Application
Name=Thermax HMI Browser
Comment=Launch Thermax HMI in Chromium Kiosk Mode
Exec=/home/pi/ThermaxDashboard/local_server/scripts/launch_browser.sh
Icon=chromium-browser
Terminal=false
Categories=Network;WebBrowser;
X-GNOME-Autostart-enabled=true
StartupNotify=false

